{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
  <h1>Model: {{ car.model }} (Manufacturer: {{ car.manufacturer.name }}, {{ car.manufacturer.country }})</h1>
  <p class="text-muted">Id: {{ car.id }}</p>

  {% if user.is_authenticated %}
      {% if is_driver %}
          <form action="{% url 'taxi:assign-driver' pk=car.id %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger">Delete me from this car</button>
          </form>
      {% else %}
          <form action="{% url 'taxi:assign-driver' pk=car.id %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn btn-success">Assign me to this car</button>
          </form>
      {% endif %}
  {% endif %}

  <hr>

  <h2>Drivers</h2>
  {% for driver in car.drivers.all %}
    <p>
      {{ driver.username }} ({{ driver.first_name }} {{ driver.last_name }})
      {% if user == driver %}
        (You)
      {% endif %}
    </p>
  {% empty %}
    <p>No drivers yet.</p>
  {% endfor %}

  <div class="mt-4">
      <a href="{% url 'taxi:car-update' pk=car.id %}" class="btn btn-primary">Update</a>
      <a href="{% url 'taxi:car-delete' pk=car.id %}" class="btn btn-danger">Delete</a>
  </div>
{% endblock %}
